.list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.item {
  position: relative;

  margin-right: 16px;

  cursor: pointer;
  transition: all .2s ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: .7;
  }

  &:active {
    opacity: .5;
  }
}

.link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
}