.box {
  overflow: hidden;

  padding-top: 120px;
  padding-bottom: 120px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}

.container {
  display: flex;
  justify-content: space-between;
}

.textContainer {
  padding-top: 106px;
  margin-right: 30px;
  flex-shrink: 0;
}

.title {
  margin-bottom: 48px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;

  list-style: none;

  &.mobile {
    display: none;
  }
}

.item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.videoContainer {

}

@media (max-width: 1064px) {
  .textContainer {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .box {
    padding-top: 68px;
    padding-bottom: 39px;

    background-image: none !important;
  }

  .container {
    flex-direction: column;
  }

  .textContainer {
    margin-right: 0;
  }

  .title {
    margin-bottom: 65px;
  }

  .videoContainer {
    margin-bottom: 57px;
  }

  .list {
    &.desktop {
      display: none;
    }

    &.mobile {
      display: block;
    }
  }
}